/*
** RESET
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
.dl, dt, dd, ol, ul, li,
.fieldset, form, label, legend,
.table, caption, tbody, tfoot, thead, tr, th, td,
.article, aside, canvas, details, figcaption, figure,
.footer, header, hgroup, menu, nav, section, summary,
.time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

a, a:link, a:hover, a:active, a:visited { color: inherit; text-decoration: none; }

/*
** MOBILE
*/
@media screen and (min-device-width: 320px) {
	header {
		height:105px;
		width:50%;
		margin:50px 0;
	}
	
	footer {
		display:none;
	}
	
	p {
		font-size:32px; 
	}
	
	#e_big_logo {
		width:411px;
		height:499px;
		margin:35px auto 10px auto;
		background:url('../assets/img/e_big_logo_mob.png') center no-repeat;
	}
	
	#e_fbco {
		width:75%;
	}
	
		#e_fbco_button {
			font-size:24px;
			padding:24px 34px;
		}
	
	nav ul {
		margin:auto;
		width:98%; 
	}
	
		nav ul li {
			height:150px;
			margin:15px 0;
			padding:15px;
		}
	
	.nextStep {
		font-family:Verdana, sans-serif;
		font-size:32px;
		padding:25px 32px;
		margin:15px 15px;
	}
	
}

@media screen and (min-width: 1000px) {
	header {
		height:55px;
	}
	
	footer {
		display:block;
	}
	
	p {
		font-size:12px; 
	}
	
	#e_big_logo {
		width:246px;
		height:302px;
		margin:35px auto 10px auto;
		background:url('../assets/img/e_big_logo.png') center no-repeat;
	}
	
	#e_fbco {
		width:220px;
	}
	
	#e_fbco_button {
		font-size:12px;
		padding:14px 18px;
	}
	
	nav ul {
		width:75%; 
	}
	
		nav ul li {
			height:45px;
			margin:5px;
			padding:5px;
		}
		
	.nextStep {
		font-size:14px;
		margin:15px 10px;
		padding:7px 12px;
	}
}


/*
** MAIN
*/

html, body {
  height: 98%;
  width: 100%;
  background:url("../assets/img/e_bg.png") repeat;
}


header {
	width:100%;
	margin:10px 0;
	
	background: #8b8b8b; /* Old browsers */
	background: -moz-linear-gradient(top,  #8b8b8b 0%, #585858 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8b8b), color-stop(100%,#585858)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8b8b8b 0%,#585858 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8b8b8b 0%,#585858 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8b8b8b 0%,#585858 100%); /* IE10+ */
	background: linear-gradient(top,  #8b8b8b 0%,#585858 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#585858',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 0px 2px 7px 1px #333333, inset 1px 2px 0px #999999;
	-moz-box-shadow: 0px 2px 7px 1px #333333, inset 1px 2px 0px #999999;
	-ms-box-shadow: 0px 2px 7px 1px #333333, inset 1px 2px 0px #999999;
	-o-box-shadow: 0px 2px 7px 1px #333333, inset 1px 2px 0px #999999;
	box-shadow: 0px 2px 7px 1px #333333, inset 1px 2px 0px #999999;
}

#e_logo_min {
	float:left;
	text-align:left;
	padding:5px 20px;
}

	#e_logo_min img { border:0; }

/******************************** FB *********************/
#e_fbco {margin:15px auto; padding:20px;}

	#e_fbco_button {
		font-family:Verdana, sans-serif;
		text-align:center;
		color:#eee;
		text-shadow: 0px 1px 0px #fff;
		filter: dropshadow(color=#979797, offx=0, offy=1);
	
		margin:0 10px;
		
		background: #898989; /* Old browsers */
		background: -moz-linear-gradient(top,  #6282be 1%, #2e4e8a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#6282be), color-stop(100%,#2e4e8a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #6282be 1%,#2e4e8a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #6282be 1%,#2e4e8a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #6282be 1%,#2e4e8a 100%); /* IE10+ */
		background: linear-gradient(top,  #6282be 1%,#2e4e8a 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6282be', endColorstr='#2e4e8a',GradientType=0 ); /* IE6-9 */
		
		-webkit-box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
		-moz-box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
		-ms-box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
		-o-box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
		box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
		
		border:1px solid #333;
	}
/******************************** FB *********************/

p { 
	color:#eee;
	text-align:center;
	font-family:Verdana, sans-serif; 
	font-weight:bold;
	text-shadow:1px #333; 
	text-shadow: -1px 1px 0px #333333;
	filter: dropshadow(color=#333333, offx=-1, offy=1);
}

#e_panel {
	float:right;
	text-align:left;
	padding:8px 30px 0 13px;
}
	
	#e_panel img {
		float:right;
		height:38px;
		border:1px solid #eee;
	}
	
	#e_panel p {
		padding:5px 10px 0 10px;
		float:right;
	}
	
		#e_panel p span {
		font-size:10px;
		display:block;
		margin:5px 0;
		text-align:right;
	}
		
	nav {
		margin:35px auto;
	}
	
		nav ul li { 
			list-style:none;
			text-align:center; 
			background:rgba(51, 51, 51, 0.4);
			border:2px solid #eee;
			border-radius:5px;
		}
	
	#e_friendSelect { width:960px; margin:15px auto; }
	
	.e_friendButton { 
		display:inline-block; 
		width:225px; 
		height:45px; 
		text-align:center; 
		margin:5px 3px 5px 0;
		padding:5px 0px 5px 5px;
		background:rgba(51, 51, 51, 0.4);
		border:1px solid #333;
		border-radius:5px;
	}
	.e_friendButton:hover { cursor:pointer; }
	
		.e_friendButton img { height:45px; float:left; border-radius:5px; }
		.e_friendButton input { display:none; }
		.e_friendButton p { font-size:10px; text-align:left; padding:5px 0 0 7px; float:left;}
			.e_friendButton span { display:block; padding:7px 0; } 
			.e_friendButton label { display:block; font-size:12px; } 
	
	.e_friendButtonSelected { background:rgba(153, 51, 51, 0.4); }

/*
*****************************FOOTER***************************
*/
footer {
	width:100%;
	height:auto;
	padding:10px 0 20px 0;
}

	footer ul {
		list-style:none;
		width:190px;
		margin:auto;
	}
	
		footer ul li {
			display:inline-block;
			margin:0 5px;
		}
	
			#e_twitter { background:url('../assets/img/e_twitter.png') center;  }
			#e_fblike { background:url('../assets/img/e_fblike.png') center; }
			#e_google { background:url('../assets/img/e_google.png') center;  }
			
			#e_twitter, #e_fblike, #e_google {
				height:52px;
				width:50px;
				display:block;
			}
			
			#e_twitter:hover { background:url('../assets/img/e_twitter_hov.png') center; }
			#e_fblike:hover { background:url('../assets/img/e_fblike_hov.png') center; }
			#e_google:hover { background:url('../assets/img/e_google_hov.png') center;  }
/*
*****************************FOOTER***************************
*/

/* /google map */
#map_canvas {
  height: 100%;
  position: absolute;
  width: 100%;
  
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}
/* /google map */

.e_buttonContainer {
	width:100%;
	height:auto;
	margin:15px 0;
	padding:15px 0;
 	text-align:center;
}


.nextStep {
	font-family:Verdana, sans-serif;
	color:#eee;
	text-shadow: 0px 1px 0px #979797;
	filter: dropshadow(color=#979797, offx=0, offy=1);
	
	background: #898989; /* Old browsers */
	background: -moz-linear-gradient(top,  #898989 1%, #565656 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#898989), color-stop(100%,#565656)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #898989 1%,#565656 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #898989 1%,#565656 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #898989 1%,#565656 100%); /* IE10+ */
	background: linear-gradient(top,  #898989 1%,#565656 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#565656',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
	-moz-box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
	-ms-box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
	-o-box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
	box-shadow: 0px 2px 4px 1px #222, inset 1px 1px 1px #9b9ca3;
	
	border:1px solid #333;
}

.loader {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
	display: none;
}